@import url(/styles/burger.css);
@import url(/styles/animations.css);
@import url(/styles/gallery.css);
@import url(/styles/accordion.css);
@import url(/styles/slider.css);
@import url(/styles/form.css);
@import url(/styles/headerElement.css);
@import url(/styles/hero.css);
@import url(/styles/footer.css);
@import url(/styles/observed.css);
@import url(/styles/scroll.css);

@font-face {
    font-family: 'Roboto';
    src: url(resources/fonts/Roboto-VariableFont_wdth,wght.ttf);
}

* {
    box-sizing: border-box;
}

body {
    
    &._light {
        --bgcolor: white;
        --bgcolorreversed: black;
        --themecolor: rgba(6, 226, 255, 0.3);;
        --themetextcolor: #0369A1;
        --animatedObj: url(/resources/images/invader.png);
        --logo: url(/resources/images/logo.svg);
    }

    &._dark {
        --bgcolor: #302e2d;
        --bgcolorreversed: white;
        --themecolor: #c1dbff;
        --themetextcolor: #003366;
        --animatedObj: url(/resources/images/invader2.png);
        --logo: url(/resources/images/logoInv.svg);

        .userTxt {
            .userId {
                color: #c1dbff;
            }
        }
    }
    
    &._lock {
        overflow: hidden;
    }
    
    background-color: var(--bgcolor);
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: calc(1440px + (2 * 16px));
    margin-inline: auto;
    padding-inline: 16px;
}

h1, h2 {
    font-weight: 800;
    font-size: clamp(48px, 34.67px + 1.48vw, 56px);
    line-height: 1.1;
    letter-spacing: 0;
    color: var(--bgcolorreversed);

    @media (max-width: 900px) {
        font-size: clamp(32px, 16.00px + 3.56vw, 48px);
        text-align: center;
    }

    @media (max-width: 450px) {
        font-size: clamp(28px, 18.15px + 3.08vw, 32px);
    }
}

h3 {
    font-weight: 800;
    font-size: clamp(32px, 17.88px + 1.57vw, 48px);
    line-height: 1.1;
    letter-spacing: 0;
    margin: 0;
    color: var(--bgcolorreversed);
                

    @media (max-width: 900px) {
        font-size: clamp(28px, 24.00px + 0.89vw, 32px);
        text-align: center;
    }

    @media (max-width: 450px) {
        font-size: clamp(20px, 16.00px + 0.89vw, 24px);
    }
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0;
    color: var(--bgcolorreversed);

    @media (max-width: 450px) {
        font-size: 16px;
        line-height: 1.4;
        text-align: center;
    }
}

a {
   /* Menu Item */
    text-decoration: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    /* identical to box height, or 150% */
    letter-spacing: 0.5px;

    /* Blue Gray/900 */
    color: var(--bgcolorreversed);
}

input, textarea, select {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
}

ul {
    padding: 0 0;
    margin: 0 0;
    list-style: none;
    list-style-type: none;
}

.user {
    display: flex;
    justify-content: start;
    gap: 16px;
    align-items: center;

    img {
        width: 64px;
        height: 64px;
        object-fit: cover;
        border-radius: 32px;
    }
    .userTxt {
        display: flex;
        flex-direction: column;
        gap: 0px;
        box-sizing: border-box;

        .userId {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.4;
            letter-spacing: 0;
            color: #475569;
        }

        p {
            margin: 0 !important;
        }
    }
}

.loader {
    display: none;

    &._active {

        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1500;
        height: 80px;
        aspect-ratio: 1/1;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}