#FAQ ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: transform 0.5s ease-in-out;
}

#FAQ li{
    background-color: var(--themecolor);
    border-radius: 12px;
    padding: 15px 20px;
}

#FAQ h3 {
    font-weight: 600;
    font-size: clamp(28px, 20.94px + 0.78vw, 36px);
    line-height: 1.1;
    letter-spacing: 0;
    margin: 0;
    color: var(--themetextcolor);
            

    @media (max-width: 900px) {
        font-size: clamp(22px, 16.00px + 1.33vw, 28px);
        text-align: center;
    }

    @media (max-width: 450px) {
        font-size: clamp(18px, 14.00px + 0.89vw, 22px);
    }
}

.content {
    display: none;
    color: var(--themetextcolor);
}

._opened {
    .content {
        display: block;
    }
}

.FAQ button {
        width: 20px;
        height: 20px;
        position: relative;
        border-radius: 50%;
        background-color: var(--bgcolor);
        border: transparent;
        display: flex;
        justify-self: end;
        justify-items: center;
        align-items: center;
        margin-bottom: 5px;

        span {
            &:nth-child(1) {
                    display: block;
                    height: 2px;
                    border-radius: 1.5px;
                    background-color: var(--bgcolorreversed);
                    position: absolute;
                    left: 8px;
                    right: 8px;
                    rotate: 45deg;
                    animation: none;
            }

            &:nth-child(2) {
                    display: block;
                    height: 2px;
                    border-radius: 1.5px;
                    background-color: var(--bgcolorreversed);
                    position: absolute;
                    left: 8px;
                    right: 8px;
                    rotate: -45deg;
                    animation: none;
            }
        }
    }