.menuColumn {
    justify-items: end;
}

.burger {
    display: none;

    @media (max-width: 900px) {
        display: block;
        /* Button */
        position: relative;
        box-sizing: border-box;
        /* Auto layout */
        padding: 8px;
        width: 40px;
        height: 40px;
        /* Amber/300 */
        background: #FCD34D;
        /* Amber/300 */
        border: 2px solid #FCD34D;
        /* Shadow/Dark/S */
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.07);
        border-radius: 100px;

        span {
            display: block;
            width: calc(100% - 16px);
            height: 2px;
            border-radius: 1.5px;
            background-color: #78350F;
            position: absolute;

            animation: none;
        }

        span:nth-child(1) {
            top: calc(50% - 1px - 7px);
        }

        span:nth-child(2) {
            top: calc(50% - 1px);
        }
        
        span:nth-child(3) {
            top: calc(50% - 1px + 7px);
        }
    }
}

.list {
    display: none;
}

._active {
    
    .list {
        display: block;
        position: relative;
    }

    ul {
        margin-top: 15px;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        justify-content: start;
        flex-direction: column;
        list-style-type: '- ';
        text-align: start;
        gap: 10px;
        background-color: #FCD34D;
        border: #d7b030 4px solid;
        border-radius: 15px;
        padding: 18px 12px 18px 18px;

        li::marker {
            color: #78350F;
        }

        li a {
            color: #78350F;
            align-self: center;
            font-weight: 800;
            font-size: 14px;
            letter-spacing: 0.2px;
        }
    }

    a {
        display: block !important;
    }

    span:nth-child(1) {
        animation-name: top-span-in-active;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
    }

    span:nth-child(2) {
        animation-name: middle-span-in-active;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
    }

    span:nth-child(3) {
        animation-name: bottom-span-in-active;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
    }
}

._off {
    span:nth-child(1) {
        animation-name: top-span-out-active;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
    }

    span:nth-child(2) {
        animation-name: middle-span-out-active;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
    }

    span:nth-child(3) {
        animation-name: bottom-span-out-active;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
    }
}