.child {
    display: none;
}

._active {
    background: #ffd343;
    border: 2px solid #FCD34D;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
    .child {
        display: block;
    }

    ul {
        position: absolute;
        right: 0;
        top: 120%;
        display: flex;
        justify-content: start;
        flex-direction: column;
        list-style-type: '- ';
        text-align: start;
        gap: 10px;
        background-color: #FCD34D;
        border: #d7b030 4px solid;
        border-radius: 15px;
        padding: 12px 6px 12px 12px;

        li a {
            color: #78350F;
            align-self: center;
            font-weight: 800;
            font-size: 14px;
            letter-spacing: 0.2px;
        }
    }

    a {
        display: block !important;
    }
}