.menuColumn {
    justify-items: end;
}

.burger {
            display: none;

            @media (max-width: 900px) {
                display: block;
                /* Button */

                box-sizing: border-box;
                /* Auto layout */
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px;
                width: 40px;
                height: 40px;
                /* Amber/300 */
                background: #FCD34D;
                /* Amber/300 */
                border: 2px solid #FCD34D;
                /* Shadow/Dark/S */
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.07);
                border-radius: 100px;
            }
        }

.burger span {
    width: 18;
    height: 0px;
    border-width: 1.5px;
    top: 5px;
    left: 3px;
}

.list {
    display: none;
}

._active {
    
    display: block;
    position: relative;

    ul {
        margin-top: 15px;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        justify-content: start;
        flex-direction: column;
        list-style-type: '- ';
        text-align: start;
        gap: 10px;
        background-color: #FCD34D;
        border: #d7b030 4px solid;
        border-radius: 15px;
        padding: 12px 6px 12px 12px;

        li a {
            color: #78350F;
            align-self: center;
            font-weight: 800;
            font-size: 14px;
            letter-spacing: 0.2px;
        }
    }

    a {
        display: block !important;
    }
}