#form {
    display: none;

    &._active {
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1001;
        background-color: rgba(105, 105, 105, 0.5);
    }

    label {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.6;
        letter-spacing: 0;

        @media (max-width: 450px) {
            font-size: 16px;
            line-height: 1.4;
            text-align: center;
        }
    }

    .submit {
        border-radius: 25px;
        background-color: rgba(6, 226, 255, 0.3);
        border: transparent;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.6;
        letter-spacing: 0;
        width: 80%;
        color: #0369A1;
        margin: 15px auto;
        margin-bottom: 0;
    }

    input, textArea {
        border: #0369A1 2px solid;
        border-radius: 15px;
        padding: 4px 6px;

        &:focus {
            border: #87c3e4 2px solid;
        }
    }

    .closeForm {
        width: 40px;
        height: 40px;
        position: relative;
        border-radius: 50%;
        background-color: var(--bgcolor);
        border: transparent;
        display: flex;
        justify-self: end;
        justify-items: center;
        align-items: center;
        margin-bottom: 5px;

        span {
            &:nth-child(1) {
                    display: block;
                    height: 2px;
                    border-radius: 1.5px;
                    background-color: var(--bgcolorreversed);
                    position: absolute;
                    left: 8px;
                    right: 8px;
                    rotate: 45deg;
                    animation: none;
            }

            &:nth-child(2) {
                    display: block;
                    height: 2px;
                    border-radius: 1.5px;
                    background-color: var(--bgcolorreversed);
                    position: absolute;
                    left: 8px;
                    right: 8px;
                    rotate: -45deg;
                    animation: none;
            }
        }
    }

    p {
        margin: 15px 0 0 0;
    }
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    
    z-index: 1002;
    background-color: var(--bgcolor);
    padding: 30px 25px;
    border-radius: 25px;

    h2 {
        margin: 0 0 25px 0;
    }
}

