.galleryBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
    a {
        display: block;
        overflow: clip;
        border-radius: 25px;
        aspect-ratio: 3/4;

        &:hover {
            transform: scale(1.02);
            transition: 200ms;            
        }
        
        img {
            object-fit: cover;
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    @media (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 450px) {
        grid-template-columns: repeat(1, 1fr);
    }
}