.animatedBox {
    display: none;

    @media(min-width: 900px) {
        display: block;
        width: 25%;
        aspect-ratio: 1/1;
        border-radius: 5%;

        .animatedThing {
            display: block;
            width: 400px;
            height: 400px;
            border-radius: 5%; 
            background-image: var(--animatedObj);
            background-repeat: no-repeat;
            background-position: center;
            will-change: transform;
            transform: translateX(0px);
            background-size: contain;
        }
    }
}